<h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif">Reestablecer tu contrasena</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">Has solicitado reestablecer tu contrasena en BudgetManager.
    Para continuar, has click en el siguiente enlace.
    Este enlace es temporal, si vence, deberas solicitar el cambio de tu contrasena.
</p>

<a href="{{resetUrl}}" style="
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #00C897;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;">Reestablecer tu contraseña</a>

<p style="font-family: Arial, Helvetica, sans-serif;">Si no puedes acceder al enlace, dirígete a este enlace: {{resetUrl}}</p>
<p style="font-family: Arial, Helvetica, sans-serif;">Si no solicitaste este correo electronico, puedes ignorarlo.</p>