<main class="contenedor">
    <form action="/crearCuenta" method="post" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Luffy">
        </div>
        <div class="campo">
            <label for="email">Correo electronico</label>
            <input type="email" name="luffy@grandlie.op">
        </div>
        <div class="campo">
            <label for="password">Contrasena</label>
            <input type="text" name="password" placeholder="Ingresa una contrasena">
        </div>
        <div class="campo">
            <label for="confirmarPassword">Confirmar contrasena</label>
            <input type="text" name="confirmarPassword" placeholder="Confirma tu contrasena">
        </div>
        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</main>