<main class="lista-vacantes">
    <h2>Lista de presupuestos</h2>

    {{#each presupuesto}}
    <div class="vacante">
        <div class="caja">
            <h3>{{titulo}}</h3>
            <p class="etiqueta">Ingresos</p>
            <p class="nombre">{{ingresos}}</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Ahorros Esperados</p>
            <p class="nombre contrato">{{ahorrosEsperados}}</p>
        </div>
        <div class="caja centrar-vertical">
            <a href="/presupuesto/{{url}}" class="btn btn-verde">Mas informacion</a>
        </div>
    </div>
    {{/each}}
</main>