<main class="lista-vacantes">
    <h2>Lista de vacantes</h2>

    <div class="vacante">
        <div class="caja">
            <h3>Presupuesto Personal</h3>
            <p class="puesto">octubre 2019</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Presupuesto Inicial</p>
            <p class="nombre">L. 20,000.00</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Gastos Presupuestados</p>
            <p class="nombre contrato">L. 13,000.00</p>
        </div>
        <div class="caja centrar-verticalmente">
            <a href="#" class="btn btn-verde">Ver detalles</a>
        </div>
    </div>
</main>