<main class="contenedor">
    <form action="/iniciarSesion" method="post" class="default-form">
        <div class="campo">
            <label for="email">Correo electronico</label>
            <input type="email" name="email" placeholder="luffy@grandline.op">
        </div>
        <div class="campo">
            <label for="password">Contrasena</label>
            <input type="text" name="password" placeholder="Ingresa una contrasena">
        </div>
        <div class="campo acciones">
            <a href="/crearCuenta">Crea una cuenta</a>
            <a href="/reestablecerPassword">Olvide mi contrasena</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar sesion" class="btn btn-azul">
        </div>
    </form>
</main>