<div class="contenido-superior vacante contenido-superior">
    <div class="caja">
        <p class="etiqueta">Titulo</p>
        <p class="nombre">{{presupuesto.titulo}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Presupuesto</p>
        <p class="nombre">{{presupuesto.ingresos}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Ahorros Esperados</p>
        <p class="nombre">{{presupuesto.ahorrosEsperados}}</p>
    </div>
</div>